body {
	background-image: url("../images/background.png")
}

.animal {
	margin: 5px;
	height: 40px;
}

#animalInput, #addButton {
	float: right;
	margin: 5px;
}

.gif {
	margin-bottom: 10px;
}

.jumbotron {
	text-align: center;
}



